doctype html
html 
  head 
    title Jharna Dance Academy
    block scripts
    block style 
      
  body 
    nav#navbar 
          ul
              div#logo
                  img(src="/static/logo1.png")
                  | JDA
              li #[a(href="/") Home]
              li #[a(href="/") About] 
              li #[a(href="/") Services] 
              li #[a(href="/") Class Info]
              li #[a(href="/") Contact us]
    block content 
    footer#footer  
        | Copyright 2023 JharnaDanceAcademy.com | All rights reserved

       
        